.titulo{
    font-size: 50px;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: center;
}
.juegos{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.encavezado{
    background-color:green;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center; 

}