.titulo{
    font-size: 50px;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .tablas{
    /* display: flex; */
    align-items: center;
    justify-content: center; 
} 